.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chat-history {
  width: 80%;
  max-width: 900px;
  height: 600px;
  border: none;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.chat-history p {
  font-size: 0.6em;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0; /* Removed all margins */
  max-width: 100%; /* Allow text to take full width of message container */
}

.message-container {
  margin-bottom: 5px; /* Space between messages */
  padding: 5px 12px; /* Padding for the message bubble */
  border-radius: 8px;
  max-width: 70%; /* Limit message width */
}

.user-message {
  background-color: #3a3f47; /* User message background */
  align-self: flex-end; /* Aligns the entire message bubble to the right */
  border-radius: 15px; /* Increased border radius */
}

.bot-message {
  background-color: #282c34; /* Bot message background (same as chat history) */
  align-self: flex-start; /* Keeps the entire message bubble to the left */
}

.chat-input {
  display: flex;
  width: 80%;
  max-width: 900px;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 15px 0 0 15px;
  color: white;
  background-color: #3a3f47;
  font-size: 0.6em;
}

.chat-input input:focus {
  outline: none;
}

.chat-input button {
  padding: 10px 20px;
  border: none;
  background-color: #3a3f47;
  color: white;
  cursor: pointer;
  border-radius: 0 15px 15px 0;
}

/* WebKit (Chrome, Safari, Edge) scrollbar styling */
.chat-history::-webkit-scrollbar {
  width: 8px;
}

.chat-history::-webkit-scrollbar-track {
  background: #282c34; /* Same as header background */
}

.chat-history::-webkit-scrollbar-thumb {
  background-color: #555; /* Darker gray, similar to border */
  border-radius: 4px;
  border: 2px solid #282c34; /* Border to match track background */
}

/* Firefox scrollbar styling */
.chat-history {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #555 #282c34; /* thumb color track color */
}
